<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            mark {
              background-color: #13F17A;
              color: black;
            }
        </style>
    </head>

    <body>
        <h1>Search your <mark>products</mark></h1>
        <form method="POST" action="/">
            <div class="form-group">
                <input type="text" name="query">
            </div>
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </body>
</html>
